& {
    margin-top: 40px;
    
    & h3 {
        width: 260px;
        margin: 0 auto;
        color: $color3;
        font-size: 22px;
        font-weight: bold;
        line-height: 27px;
        text-align: center;
    }

    .partners {
        figure {
            position: relative;
            width: 225px;
            margin: 20px auto;
            text-align: center;

            img {
                width: 120px;
                height: 120px;
                border-radius: 100%;
            }

            i {
                position: absolute;
                top: 85px;
                right: 50px;
                width: 38px;
                height: 38px;
                border: 4px solid $color1;
                border-radius: 100%;
                background: #000;
            }

            .tvIcon {
                background: $color2 url('../images/spriteMeetIcons.png') 6px 5px no-repeat;
            }

            .bulbIcon {
                background: $color5 url('../images/spriteMeetIcons.png') -17px 6px no-repeat;
            }

            .cupIcon {
                background: $color6 url('../images/spriteMeetIcons.png') -41px 4px no-repeat;
            }

            .paperPlaneIcon {
                background: $color7 url('../images/spriteMeetIcons.png') -68px 7px no-repeat;
            }

            h5 {
                margin-top: 20px;

                & a {
                    color: $color3;
                    font-size: 14px;
                    text-decoration: none;
                }
            }

            figcaption {
                margin-top: 15px;
                color: $color8;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
                line-height: 17px;
            }
        }
    }

    & > a {
        display: block;
        width: 280px;
        margin: 30px auto 0;
        padding: 13px 0;
        border: 2px solid $color2;
        border-radius: 50px;
        color: $color2;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
    }
}
