$transitionDuration: .4s;

$color1: #fff;                      // header text
$color2: #ff4e50;                   // tvIconBG
$color3: #333;                      // how
                                    // meet names text
$color4: rgba(204, 204, 204, .7);   // how paragraph
$color5: #ffa507;                   // bulbIconBG
$color6: #1cd7ad;                   // cupIconBG
$color7: #4e73db;                   // paperPlaneIconBG
$color8: #666;                      // meet about text
$color9: #ccc;                      // footer designedBy text
$color10: #999;                      // discover input text
